{
    "singleQuote": true,
    "semi": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "endOfLine": "crlf",
    "jsxBracketSameLine": true,
    "packageManager": "yarn",
    "jsxSingleQuote": true,
    "printWidth": 133
}